@using Domain.Dtos.Category
@model UpdateCategoryDto
@{
    ViewData["Title"] = "Create";
}


@{
    var languages = (await languageService.GetAllLangAsync()).Data.Select(x => new { Code = x.Code, Name = x.Name }).ToList();

    var forms = new List<FormField>();
    var formSeo = new List<FormField>();

    for (int index = 0; index < languages.Count; index++)
    {

        var lang = languages[index];
        var model = Model.CategoryLanguages?.FirstOrDefault(x => x.Language_Code == lang.Code);

        forms.Add(new FormField { LangCode = lang.Code, Name = $"CategoryLanguages[{index}].Title", Type = "text", Label = $"Başlıq", Required = false, Value = model?.Title });
        forms.Add(new FormField { LangCode = lang.Code, Name = $"CategoryLanguages[{index}].Language_Code", Type = "hidden", Value = model?.Language_Code });
        forms.Add(new FormField { LangCode = lang.Code, Name = $"CategoryLanguages[{index}].LangId", Type = "hidden", Value = model?.LangId });
        forms.Add(new FormField { LangCode = lang.Code, Name = $"CategoryLanguages[{index}].CategoryId", Type = "hidden", Value = model?.CategoryId });


        // Seo Form Update

        formSeo.Add(new FormField { LangCode = lang.Code, Name = $"CategoryLanguages[{index}].SeoTitle", Type = "text", Label = $"Seo Başlıq", Value = model?.SeoTitle });
        formSeo.Add(new FormField { LangCode = lang.Code, Name = $"CategoryLanguages[{index}].SeoKey", Type = "text", Label = $"Seo Key", Value = model?.SeoKey });
        formSeo.Add(new FormField { LangCode = lang.Code, Name = $"CategoryLanguages[{index}].SeoDesc", Type = "textarea", Label = $"Seo Izahat", Value = model?.SeoDesc });
    }
}


<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container-xl px-4">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <span class="page-header-icon"><i data-feather="edit-3"></i></span>
                        Yenile
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-xl px-4 mt-n10">
    <form id="fromloading" asp-action="Update" asp-antiforgery="true" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-8">
                <div class="card card-header-actions mb-4">
                    <div class="card-header">
                        Tercüme edilecek sahələr
                    </div>
                    <div class="card-body">
                        <language-tabs languages="languages" form-fields="forms" tab-id="category"></language-tabs>
                    </div>
                </div>
                <div class="card card-header-actions mb-4">
                    <div class="card-header">
                        Category Seo İşləmləri
                    </div>
                    <div class="card-body">
                        <language-tabs languages="languages" form-fields="formSeo" tab-id="category-seo"></language-tabs>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">Category</div>
                    <div class="card-body">
                        <input type="hidden" asp-for="Id" />
                        <div class="bn">
                            <button type="submit" class="btn  btn-primary">Yadda saxla</button>
                            <a asp-action="Index" class="btn  btn-dark">İmtina</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

